<html>
    <head>
        <link rel="stylesheet" href="web.css"/>
    </head>
    <body>
        <div>
            <center>
                <a class = "link1" href = "/">HOME</a>
                <a class = "link1" href = "/heg">HEGEHOGS</a>
                <a class = "link1" href = "/pokemon">POKEMON API</a>
                <h1>ANIMAL PAGE</h1>
                <br/>
                <br/>
                <br/>
                <button onclick = "location.href = '/createAnimal'">CREATE ANIMAL</button>
                <button onclick = "location.href = '/delete'">DELETE ANIMALS</button>
                
            </center>
            <table>
                    <tr>
                        <th>NAME</th>
                        <th>SCIENTIFIC NAME</th>
                        <th>FACTS</th>
                    </tr>
                    <% for(var i=0; i < ANIMALDATA.length; i++) { %>
                       <tr>
                         <td><%= ANIMALDATA[i].NAME %></td>
                         <td><%= ANIMALDATA[i].SCINAME %></td>
                         <td><%= ANIMALDATA[i].FACTS %></td>
                       </tr>
                    <% } %>
            </table>
        </div>
    </body>
</html>